@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

<form>
        <br>
        <t>Please use your credentials to log in.</t>
        <t>If you aren't a manager, select the 'Survey' option from the menu above.</t>
        <br>
        <br>
        <t>Name:</t> <input type="text" name="Name" value="" />
        <br>
        <br>
        <t>Password:</t> <input type="text" name="Password" value="" />
        <br>
        <br>
        <input type="submit" value="Submit" class="submit" />
    </form>

}
