@model PetCareAdviceApp.ViewModels.SurveyViewModels

<h1>Survey</h1>   

<form asp-controller="ClientController" asp-action="Results" method="post">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label for="WalkFrequency">How often are your pets taken for walks?</label>
        <input class="form-control" name="WalkFrequency" id="WalkFrequency" type="text" />
    </div>

    <div class="form-group">
        <label for="VetAmount">How often do you take your pets to the vet?</label>
        <input class="form-control" name="VetAmount" id="VetAmount" type="text" />
    </div>

    <div class="form-group">
        <label for="GroomAmount">How often do you groom your pets?</label>
        <input class="form-control" name="GroomAmount" id="GroomAmount" type="text" />
    </div>

    <div class="form-group">
        <label for="PetNumber">How many pets do you have?</label>
        <input class="form-control" name="PetNumber" id="PetNumber" type="text" />
    </div>

    <div class="form-group">
        <label for="PetTypeNumber">How many of each type of pet do you have?</label>
        <input class="form-control" name="PetTypeNumber" id="PetTypeNumber" type="text"/>
    </div>

    <div class="form-group">
        <label for="AccesoryNumber">How many accessories do you have?</label>
        <input class="form-control" name="AccesoryNumber" id="AccesoryNumber" type="text"  />
    </div>

    <div class="form-group">
        <label for="FeedAmount">How often do you feed your pets?</label>
        <input class="form-control" name="FeedAmount" id="FeedAmount" type="text"/>
    </div>

    <div class="form-group">
        <label for="MaintainAmount">How often do you maintain your pet quarters?</label>
        <input class="form-control" name="MaintainAmount" id="MaintainAmount" type="text" />
    </div>

    <input type="submit" value="Submit" />

</form>




