@model PetCareAdviceApp.ViewModels.SurveyViewModels

<h1>Survey</h1>   

<form asp-controller="ClientController" asp-action="Results" method="post">

    <div asp-validation-summary="All"></div>

    <div class="form-group">
        <label asp-for="WalkAmount"></label>
        <input class="form-control" asp-for="WalkAmount" />
    </div>

    <div class="form-group">
        <label asp-for="VetAmount"></label>
        <input class="form-control" asp-for="VetAmount" />
    </div>

    <div class="form-group">
        <label asp-for="GroomAmount"></label>
        <input class="form-control" asp-for="GroomAmount" />
    </div>

    <div class="form-group">
        <label asp-for="PetNumber"></label>
        <input class="form-control" asp-for="PetNumber" />
    </div>

    <div class="form-group">
        <label asp-for="PetTypeNumber"></label>
        <input class="form-control" asp-for="PetTypeNumber" />
    </div>

    <div class="form-group">
        <label asp-for="AccesoryNumber"></label>
        <input class="form-control" asp-for="AccesoryNumber" />
    </div>

    <div class="form-group">
        <label asp-for="FeedAmount"></label>
        <input class="form-control" asp-for="FeedAmount" />
    </div>

    <div class="form-group">
        <label asp-for="MaintainAmount "></label>
        <input class="form-control" asp-for="MaintainAmount" />
    </div>

    <input type="submit" value="Submit" />

</form>




